.Rproj.user
.Rhistory
.RData
.Ruserdata
.local
.rstudio
.conda
output
output_old
html_files
.nextflow*
work
data
.cache
results
temp
nf-testData
testData
.DS_Store
null
.devcontainer
.vscode
notebooks
gm_dynamics_plots