.Rproj.user
.Rhistory
.RData
.Ruserdata
.local
.rstudio
.conda
!output
output/*
!output/NF-scRNAseq_alignment
output/NF-scRNAseq_alignment/*
!output/NF-scRNAseq_alignment/cellranger
output/NF-scRNAseq_alignment/cellranger/*
!output/NF-scRNAseq_alignment/cellranger/count
!output/NF-scRNAseq_alignment/velocyto
html_files
.nextflow*
work
data
.cache
results
temp
nf-testData
testData
.DS_Store
null