#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig "$baseDir/../../../configs/base.config"

docker.enabled = true

params.gtf = "$baseDir/../../../test_data/cellranger/genome/chr1.gtf"
params.genome = "$baseDir/../../../test_data/cellranger/genome/chr1.fa"
params.sample_csv = "$baseDir/../../../test_data/cellranger/sampleInfo.csv"