#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'seurat_full' {
            publish_dir      = "seurat_all"
            publish_results  = "all"
            custom_functions = "$baseDir/bin/R/custom_functions"
            script           = "$baseDir/bin/seurat_STACAS.R"
        }
        'antler' {
            publish_dir      = "seurat_all"
            publish_results  = "all"
            custom_functions = "$baseDir/bin/R/custom_functions"
            script           = "$baseDir/bin/antler.R"
        }
        'test_1' {
            publish_dir      = "NF-downstream_analysis"
            publish_results  = "all"
            script           = "$baseDir/bin/test_1.R"
            args             = "--custom_functions $baseDir/bin/custom_functions"
        }
        'test_2' {
            publish_dir      = "NF-downstream_analysis"
            publish_results  = "all"
            script           = "$baseDir/bin/test_2.R"
            args             = "--custom_functions $baseDir/bin/custom_functions"
        }
    }
}
