#!/usr/bin/env nextflow


params {
    modules {
        'seurat_integrate' {
            publish_dir         = "scRNAseq/seurat_integrate"
            script              = "${baseDir}/../../bin/seurat/seurat_integrate.R"
            args                = "--custom_functions ${baseDir}/../../bin/custom_functions"
        }
    }
}


process {
    withName: seurat_integrate {
        container = 'alexthiery/10x-npb-seurat:latest'
    }
}


