#!/usr/bin/env nextflow

includeConfig "$baseDir/configs/process.config"
includeConfig "$baseDir/../configs/base.config"

process {
    withName: test_1 {
        container = 'alexthiery/10x-npb-seurat:latest'
    }
    withName: test_2 {
        container = 'alexthiery/10x-npb-seurat:latest'
    }

}