#!/usr/bin/env nextflow

docker.enabled = true

params {
  max_memory = 14.GB
  max_cpus = 10
  max_time = 1.h

  params.gtf = "$baseDir/../../../test_data/cellranger/genome/chr1.gtf"
  params.genome = "$baseDir/../../../test_data/cellranger/genome/chr1.fa"
  params.sample_csv = "$baseDir/../../../test_data/cellranger/sampleInfo.csv"
}