#!/usr/bin/env nextflow

docker.enabled = true

params {
  max_memory = 14.GB
  max_cpus = 10
  max_time = 1.h
  
  gtf = "$baseDir/../modules/test_data/cellranger/genome/chr1.gtf"
  fasta = "$baseDir/../modules/test_data/cellranger/genome/chr1.fa"

  samplesheet = "$baseDir/../samplesheets/scRNAseq_alignment/test_samplesheet.csv"
}