#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'cellranger_filter_gtf' {
            publish_dir      = "cellranger/filter_gtf"
            publish_results  = "all"
            outfile = "filtered.gtf"
            args = "--attribute=gene_biotype:protein_coding --attribute=gene_biotype:lncRNA --attribute=gene_biotype:pseudogene"
        }
        'cellranger_mkref' {
            publish_dir      = "cellranger/mkref"
            publish_results  = "all"
        }
        'cellranger_count' {
            publish_dir      = "cellranger/count"
            publish_results  = "all"
            args = ""
        }
        'modify_GTF' {
            publish_dir      = "modifyGTF"
            publish_results  = "all"
            filename = "modified"
            edit_chroms = "'MT', 'Z', 'W'"
        }
        'velocyto_run_10x' {
            publish_dir      = "velocyto"
            publish_results  = "all"
            args = ""
        }
        'velocyto_samtools' {
            publish_dir      = ""
            publish_results  = "none"
        }
        'seurat_full' {
            publish_dir      = "seurat_full"
            publish_results  = "all"
            custom_functions = "$baseDir/bin/R/custom_functions"
            script           = "$baseDir/bin/R/seurat_all.R"
        }
    }
}
