#!/usr/bin/env nextflow

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = '/scratch/groups/streit/singularity_cache'

process {
  queue = 'brc'
  executor = 'slurm'
}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 72.h

  gtf = "/scratch/groups/streit/ref/genomes/chick/galgal6/Gallus_gallus.GRCg6a.97.gtf"
  fasta = "/scratch/groups/streit/ref/genomes/chick/galgal6/Gallus_gallus.GRCg6a.dna.toplevel.fa"

  samplesheet = "$baseDir/../samplesheets/scRNAseq_alignment/rosalind_samplesheet.csv"

  append_outdir = false // Append timestamp to results folder
  outdir = './output' // Results output directory location
  tracedir = "${params.outdir}/_pipeline_info"
}