#!/usr/bin/env nextflow

/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'cellranger_mkgtf' {
            publish_dir         = "cellranger/mkgtf"
            args                = "--attribute=gene_biotype:protein_coding --attribute=gene_biotype:lncRNA --attribute=gene_biotype:pseudogene"
        }
        'cellranger_mkref' {
            publish_dir         = "cellranger/mkref"
        }
        'cellranger_count' {
            publish_dir         = "cellranger/count"
            publish_files       = ['gz':'filtered_feature_bc_matrix']
        }
        'gtf_tag_chroms' {
            publish_dir         = "gtf_tag_chroms"
            args                = "'MT', 'Z', 'W'"
        }
        'velocyto_run_10x' {
            publish_dir         = "velocyto/velocyto"
            publish_files       = ['loom':'']
        }
        'velocyto_samtools' {
            publish_dir         = "velocyto/velocyto_sort"
        }
    }
}
