#!/usr/bin/env nextflow

// Include base config and profiles
includeConfig "../configs/base.config"

// Include NF-downstream_analysis specific configs
includeConfig "configs/process.config"

params {
    seurat_out = '/camp/home/thierya/scratch/10x_neural_plate_border/output/NF-downstream_analysis_stacas/seurat/6_contamination_filt/rds_files/contamination_filt_data.RDS'
    seurat_annotations = '/camp/home/thierya/scratch/10x_neural_plate_border/output/NF-downstream_analysis_stacas/seurat/1_integration/seurat_annotations.csv'
    input       = 'samplesheet.csv'
    outdir      = 'results'
}