#!/usr/bin/env nextflow

// Include base config and profiles
includeConfig "../configs/base.config"

// Include NF-downstream_analysis specific configs
includeConfig "configs/process.config"

params {
    loomInput   = '../output/NF-scRNAseq_alignment/velocyto/'
    seuratInput = '../output/NF-downstream_analysis_seurat/seurat/contamination_filt_h5ad/contamination_filt.h5ad'
    annotations = '../seurat_annotations.csv'
    input       = 'samplesheet.csv'
    outdir      = 'results'
}