#!/usr/bin/env nextflow

// Include base config and profiles
includeConfig "../configs/base.config"

// Include NF-downstream_analysis specific configs
includeConfig "configs/process.config"

params {
    seurat_h5ad         = "${baseDir}/../output/NF-downstream_analysis_stacas/seurat/contamination_filt_h5ad/contamination_filt.h5ad"
    seurat_annotations  = "${baseDir}/../output/NF-downstream_analysis_stacas/seurat/1_integration/seurat_annotations.csv"
    publish_dir_mode    = 'copy'
    input               = 'samplesheet.csv'
    outdir              = 'results'
}