#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'seurat_full' {
            publish_dir      = "seurat_all"
            publish_results  = "all"
            custom_functions = "$baseDir/bin/R/custom_functions"
            script           = "$baseDir/bin/R/seurat_STACAS.R"
        }
        'antler' {
            publish_dir      = "seurat_all"
            publish_results  = "all"
            custom_functions = "$baseDir/bin/R/custom_functions"
            script           = "$baseDir/bin/R/antler.R"
        }
        'test' {
            publish_dir      = "seurat_all"
            publish_results  = "all"
            script           = "$baseDir/bin/R/antler.R"
        }
    }
}
